package ${PackageName};

import lombok.Generated;

#if (!$CommentsOff )
/**
 * An interface for detail layout combo box item label generators.
 *
 * ${Generated}
 */
#end
@Generated
public interface ${ClassName}<T> {

	String getLabel(String fieldName, Object fieldContent);

}