/target/
/.tmp
/.project
/.classpath
/.directory
/.start.sh.kate-swp
/.factorypath
/lib/ojdbc6-11.2.0.3.jar
/bin/
/archimedes-legacy-additions.bat
/archimedes-legacy-additions.sh
/velocity.log
/java-engine-path.bat
