package ${PackageName};

import lombok.AllArgsConstructor;
import lombok.EqualsAndHashCode;
import lombok.Generated;
import lombok.Getter;
import lombok.ToString;

/**
 * An id DTO for ${PluralName}.
 *
 * ${Generated}
 */
@AllArgsConstructor
@EqualsAndHashCode
@Getter
@ToString
@Generated
public class ${ClassName} {

#foreach($Column in $ColumnData)
	private ${Column.getFieldType()} ${Column.getFieldName()};
#end

}