package ${PackageName};

import java.util.List;
import java.util.Optional;

import org.springframework.web.client.RestTemplate;

import ${DTOQualifiedClassName};
import ${IdDTOQualifiedClassName};
import ${ListDTOQualifiedClassName};

/**
 * A REST client for a_tables.
 *
 * ${Generated}
 */
public class ${ClassName} {

	public ${ListDTOClassName} findAll() {
		RestTemplate restTemplate = new RestTemplate();
		String fooResourceUrl = "http://localhost:8080/${URL}";
		return restTemplate.getForObject(fooResourceUrl, ${ListDTOClassName}.class);
	}

	public Optional<${DTOClassName}> findById(${IdDTOClassName} id) {
		RestTemplate restTemplate = new RestTemplate();
		String fooResourceUrl = "http://localhost:8080/${URL}/" + id.getId();
		return Optional
				.ofNullable(restTemplate.getForObject(fooResourceUrl, ${DTOClassName}.class)));
	}

}