package ${PackageName};

import java.util.List;
import java.util.Optional;

import javax.inject.Inject;
#if($CascadeDeleteCode)
import javax.transaction.Transactional;
#end

import ${PagePackageName}.${PageClassName};
import ${PagePackageName}.${PageParametersClassName};
import ${ModelPackageName}.${ModelClassName};
#foreach($Subclass in $Subclasses)
import ${Subclass.getModelClassNameQualified()};
#end
#foreach($FindBy in $FindBys)
#if(!${FindBy.isSimpleType()})
import ${FindBy.getTypePackageName()}.${FindBy.getTypeName()};
#end
#end
#foreach($ListAccessData in $ListAccess)
#if($ListAccessData.getTypeQualifiedName())
import ${ListAccessData.getTypeQualifiedName()};
#end
#end
import ${PersistencePortPackageName}.${PersistencePortInterfaceName};
#foreach($CascadeDeleteData in $CascadeDeleteCode)
import ${CascadeDeleteData.getPersistencePortPackageName()}.${CascadeDeleteData.getPersistencePortInterfaceName()};
#end
import ${ServiceInterfacePackageName}.${ServiceInterfaceName};
import lombok.Generated;

#if (${HasObjectReferences})
#foreach($FindBy in $FindBys)
import ${FindBy.getTypePackageName()}.${FindBy.getTypeName()};
#end

#end
#if (!$CommentsOff)
/**
 * A generated service interface implementation for ${ContextName} management.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
#end
@Generated
public abstract class ${ClassName} implements ${ServiceInterfaceName} {

	@Inject
	protected ${PersistencePortInterfaceName} persistencePort;
	#foreach($CascadeDeleteData in $CascadeDeleteCode)
	@Inject
	protected ${CascadeDeleteData.getPersistencePortInterfaceName()} ${CascadeDeleteData.getPersistencePortAttributeName()};
	#end

	@Override
	public ${ModelClassName} create(${ModelClassName} model) {
		return persistencePort.create(model);
	}

	@Override
	public List<${ModelClassName}> findAll() {
		return persistencePort.findAll();
	}

#foreach($Subclass in $Subclasses)
	@Override
	public List<${Subclass.getModelClassName()}> findAll${Subclass.getModelClassName()}() {
		return persistencePort.findAll${Subclass.getModelClassName()}();
	}

#end
	@Override
	public ${PageClassName}<${ModelClassName}> findAll(${PageParametersClassName} pageParameters) {
		return persistencePort.findAll(pageParameters);
	}

	@Override
	public Optional<${ModelClassName}> findById(${IdClassName} ${IdFieldName}) {
		return persistencePort.findById(${IdFieldName});
	}

	@Override
	public ${ModelClassName} update(${ModelClassName} model) {
		return persistencePort.update(model);
	}

	@Override
	#if($CascadeDeleteCode)
	@Transactional
	#end
	public void delete(${ModelClassName} model) {
		#foreach($CascadeDeleteData in $CascadeDeleteCode)
		${CascadeDeleteData.getPersistencePortAttributeName()}.${CascadeDeleteData.getFindMethodName()}(model).forEach(${CascadeDeleteData.getPersistencePortAttributeName()}::delete);
		#end
		persistencePort.delete(model);
	}
#foreach($FindBy in $FindBys)

	@Override
	public #if (${FindBy.isUnique()})Optional#{else}List#{end}<${ModelClassName}> find#if (!${FindBy.isUnique()})All#{end}By${FindBy.getColumnName()}(${FindBy.getTypeName()} ${FindBy.getAttributeName()}) {
		return persistencePort.find#if (!${FindBy.isUnique()})All#{end}By${FindBy.getColumnName()}(${FindBy.getAttributeName()});
	}
#end
#foreach($ListAccessData in $ListAccess)

	@Override
	public List<${ModelClassName}> findAllBy${ListAccessData.getFieldNameCamelCase()}(${ListAccessData.getTypeName()} ${ListAccessData.getFieldName()}) {
		return persistencePort.findAllBy${ListAccessData.getFieldNameCamelCase()}(${ListAccessData.getFieldName()});
	}
#end

}