package ${PackageName};

import java.util.List;

import lombok.Data;
import lombok.Generated;

#if (!$CommentsOff )
/**
 * A page of content objects.
 *
 * @param <CONTENT> The type of the objects which are to return with the page.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
#end
@Data
@Generated
public class ${ClassName}<CONTENT> {

	private List<CONTENT> entries;
	private int entriesPerPage;
	private long entriesTotal;

}