package ${PackageName};

import lombok.Data;
import lombok.Generated;
import lombok.experimental.Accessors;

#if (!$CommentsOff )
/**
 * A page parameters to limit page access.
 *
 * ${Generated}
 */
#end
@Accessors(chain = true)
@Data
@Generated
public class ${ClassName} {

	public enum Direction {
		ASC,
		DESC;
	}

	@Accessors(chain = true)
	@Data
	public static class Sort {
		private Direction direction;
		private String[] fieldNames;
	}

	private int pageNumber;
	private int entriesPerPage;
	private Sort sort;

}