package ${PackageName};

import lombok.Generated;

#if (!$CommentsOff)
/**
 * A persistence port interface for ${ContextName} CRUD operations.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
#end
@Generated
public interface ${ClassName} extends ${GeneratedPersistencePortInterfaceName} {
}