package ${PackageName};

#if (!$CommentsOff)
/**
 * A service interface for ${ContextName} management.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
#end
@Generated
public interface ${ClassName} extends ${GeneratedServiceInterfaceName} {
}