package ${PackageName};

#if (!$CommentsOff)
/**
 * A service interface implementation for ${ContextName} management.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
#end
@Generated
@Named
public class ${ClassName} extends ${GeneratedServiceClassName} {
}