package ${PackageName};

import lombok.Generated;

#if (!$CommentsOff )
/**
 * An extended button for easy configuration.
 *
 * ${Generated}
 */
#end
@Generated
public class ${ClassName} extends com.vaadin.flow.component.button.Button {

	public ${ClassName}(String text) {
		super(text);
	}

	private ${ClassName} setStyle(String name, String value) {
		getStyle().set(name, value);
		return this;
	}

	public ${ClassName} setBackgroundColor(String backgroundColor) {
		return setStyle("background-color", backgroundColor);
	}

	public ${ClassName} setBackgroundImage(String imageFileName) {
		return setStyle("background-image", "url('" + imageFileName + "')");
	}

	public ${ClassName} setBorder(String border) {
		return setStyle("border", border);
	}

	public ${ClassName} setBorderColor(String borderColor) {
		return setStyle("border-color", borderColor);
	}

	public ${ClassName} setColor(String color) {
		return setStyle("color", color);
	}

}