package ${PackageName};

import java.time.LocalDateTime;
import java.util.Optional;
import java.util.function.Consumer;
import java.util.function.Supplier;

import javax.inject.Named;

import org.apache.logging.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;

import com.vaadin.flow.component.AbstractField.ComponentValueChangeEvent;
import com.vaadin.flow.component.ClickEvent;
import com.vaadin.flow.component.HasValue.ValueChangeListener;
import com.vaadin.flow.component.ItemLabelGenerator;
import com.vaadin.flow.component.UI;
import com.vaadin.flow.component.checkbox.Checkbox;
import com.vaadin.flow.component.combobox.ComboBox;
import com.vaadin.flow.component.datetimepicker.DateTimePicker;
import com.vaadin.flow.component.textfield.IntegerField;
import com.vaadin.flow.component.textfield.NumberField;
import com.vaadin.flow.component.textfield.TextArea;
import com.vaadin.flow.router.QueryParameters;

#foreach($EnumData in ${EnumDataCollection})
import ${EnumData.getEnumPackageName()}.${EnumData.getEnumClassName()};
#end
#foreach($MasterDataGridFieldRendererData in ${MasterDataGridFieldRendererCollection})
import ${MasterDataGridFieldRendererData.getModelPackageName()}.${MasterDataGridFieldRendererData.getModelClassName()};
#end
import ${LocalizationSOPackageName}.${LocalizationSOClassName};
import ${ResourceManagerInterfacePackageName}.${ResourceManagerInterfaceName};
import ${SessionDataPackageName}.${SessionDataClassName};
import ${ApplicationStartViewPackageName}.${ApplicationStartViewClassName};
import ${MasterDataGridFieldRendererPackageName}.${MasterDataGridFieldRendererInterfaceName};

import lombok.Generated;
import lombok.Getter;
import lombok.RequiredArgsConstructor;

#if (!$CommentsOff )
/**
 * A component factory.
 *
 * ${Generated}
 */
#end
@Generated
@Getter
@Named
@RequiredArgsConstructor
public class ${ClassName} {

	private final ${ButtonFactoryConfigurationClassName} buttonFactoryConfiguration;
	private final ${ResourceManagerInterfaceName} resourceManager;

#foreach($EnumData in ${EnumDataCollection})
	@Autowired(required = false)
	private ItemLabelGenerator<${EnumData.getEnumClassName()}> ${EnumData.getEnumAttributeName()}ItemLabelGenerator;
#end

#foreach($ServiceData in ${Services})
	@Autowired(required = false)
	private ItemLabelGenerator<${ServiceData.getServiceModelClassName()}> ${ServiceData.getServiceModelAttributeName()}ItemLabelGenerator;
#end

#foreach($MasterDataGridFieldRendererData in ${MasterDataGridFieldRendererCollection})
	@Autowired(required = false)
	private MasterDataGridFieldRenderer<${MasterDataGridFieldRendererData.getModelClassName()}> ${MasterDataGridFieldRendererData.getAttributeName()}MasterDataGridFieldRenderer;
#end

	public Button createButton(String text) {
		Button button =
				new Button(text)
						.setBackgroundColor("white")
						.setBorder("solid 1px")
						.setBorderColor(buttonFactoryConfiguration.getButtonEnabledBorderColor())
						.setColor("black")
						.setBackgroundImage(buttonFactoryConfiguration.getButtonEnabledBackgroundFileName());
		return button;
	}

	public Button createAddButton(Consumer<ClickEvent<?>> action, SessionData sessionData) {
		return createResourcedButton("commons.button.add.text", action, sessionData);
	}

	public Button createBackButton(Supplier<Optional<UI>> uiSupplier, String urlBack, SessionData sessionData) {
		Button buttonBack =
				createButton(
						resourceManager.getLocalizedString("commons.button.back.text", sessionData.getLocalization()));
		buttonBack.addClickListener(event -> uiSupplier.get().ifPresent(ui -> ui.navigate(urlBack)));
		return buttonBack;
	}

	public Button createBackButton(Supplier<Optional<UI>> uiSupplier, String urlBack, QueryParameters parameters,
			SessionData sessionData) {
		Button buttonBack =
				createButton(
						resourceManager.getLocalizedString("commons.button.back.text", sessionData.getLocalization()));
		buttonBack.addClickListener(event -> uiSupplier.get().ifPresent(ui -> ui.navigate(urlBack, parameters)));
		return buttonBack;
	}

	public Button createCancelButton(Consumer<ClickEvent<?>> action, SessionData sessionData) {
		return createResourcedButton("commons.button.cancel.text", action, sessionData);
	}

	public Button createDuplicateButton(Consumer<ClickEvent<?>> action, SessionData sessionData) {
		return createResourcedButton("commons.button.duplicate.text", action, sessionData);
	}

	public Button createEditButton(Consumer<ClickEvent<?>> action, SessionData sessionData) {
		return createResourcedButton("commons.button.edit.text", action, sessionData);
	}

	public Button createLogoutButton(Supplier<Optional<UI>> uiSupplier, Logger logger, SessionData sessionData) {
		Button buttonLogout =
				createButton(
						resourceManager
								.getLocalizedString("commons.button.logout.text", sessionData.getLocalization()));
		buttonLogout.addClickListener(event -> uiSupplier.get().ifPresent(ui -> {
			ui.navigate(ApplicationStartView.URL);
		}));
		return buttonLogout;
	}

	public Button createRemoveButton(Consumer<ClickEvent<?>> action, SessionData sessionData) {
		return createResourcedButton("commons.button.remove.text", action, sessionData);
	}

	public Button createResourcedButton(String resourceId, Consumer<ClickEvent<?>> action, SessionData sessionData) {
		Button button = createButton(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		button.addClickListener(action::accept);
		return button;
	}

	public Button createSaveButton(Consumer<ClickEvent<?>> action, SessionData sessionData) {
		return createResourcedButton("commons.button.save.text", action, sessionData);
	}

	public Checkbox createCheckbox(String resourceId, Boolean fieldContent, SessionData sessionData) {
		Checkbox checkBox = new Checkbox(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		checkBox.setValue(fieldContent);
		checkBox.setWidthFull();
		return checkBox;
	}

	public <T> ComboBox<T> createComboBox(String resourceId, T fieldContent, T[] valuesToSelect,
			SessionData sessionData) {
		return createComboBox(resourceId, fieldContent, valuesToSelect, null, sessionData);
	}

	public <T> ComboBox<T> createComboBox(String resourceId, T fieldContent, T[] valuesToSelect,
			ItemLabelGenerator<T> itemLabelGenerator, SessionData sessionData) {
		ComboBox<T> comboBox =
				new ComboBox<>(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		comboBox.setItems(valuesToSelect);
		comboBox.setValue(fieldContent);
		comboBox.setWidthFull();
		if (itemLabelGenerator != null) {
			comboBox.setItemLabelGenerator(itemLabelGenerator);
		}
		return comboBox;
	}

	public IntegerField createIntegerField(String resourceId, Integer fieldContent, Integer min, Integer max,
			SessionData sessionData) {
		IntegerField integerField =
				new IntegerField(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		if (max != null) {
			integerField.setMax(max);
		}
		if (min != null) {
			integerField.setMin(min);
		}
		#if ( ${VaadinVersion} == "24" )
		integerField.setStepButtonsVisible(true);
		#else
		integerField.setHasControls(true);
		#end
		integerField.setValue(fieldContent);
		integerField.setWidthFull();
		return integerField;
	}

	public IntegerField createIntegerField(String resourceId, Integer fieldContent, Integer min, Integer max,
			Integer step, SessionData sessionData) {
		IntegerField integerField =
				new IntegerField(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		if (max != null) {
			integerField.setMax(max);
		}
		if (min != null) {
			integerField.setMin(min);
		}
		if (step != null) {
			integerField.setStep(step);
		}
		#if ( ${VaadinVersion} == "24" )
		integerField.setStepButtonsVisible(true);
		#else
		integerField.setHasControls(true);
		#end
		integerField.setValue(fieldContent);
		integerField.setWidthFull();
		return integerField;
	}

	public NumberField createNumberField(String resourceId, Double fieldContent, Double min, Double max, Double step,
			SessionData sessionData) {
		NumberField integerField =
				new NumberField(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		if (max != null) {
			integerField.setMax(max);
		}
		if (min != null) {
			integerField.setMin(min);
		}
		#if ( ${VaadinVersion} == "24" )
		integerField.setStepButtonsVisible(true);
		#else
		integerField.setHasControls(true);
		#end
		integerField.setValue(fieldContent);
		integerField.setWidthFull();
		if (step != null) {
			integerField.setStep(step);
		}
		return integerField;
	}

	public TextField createTextField(String resourceId, String fieldContent, SessionData sessionData) {
		TextField textField =
				TextFieldFactory
						.createTextField(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		textField.setValue(fieldContent != null ? fieldContent : "");
		textField.setWidthFull();
		return textField;
	}

	public TextArea createTextArea(String resourceId, String fieldContent, SessionData sessionData) {
		TextArea textArea = new TextArea(resourceManager.getLocalizedString(resourceId, sessionData.getLocalization()));
		textArea.setValue(fieldContent != null ? fieldContent : "");
		textArea.setWidthFull();
		return textArea;
	}

	public DateTimePicker createDateTimePicker(String resourceId, ${LocalizationSOClassName} localization, LocalDateTime timestamp,
			ValueChangeListener<ComponentValueChangeEvent<DateTimePicker, LocalDateTime>> listener) {
		DateTimePicker dtp = new DateTimePicker(
				resourceManager.getLocalizedString(resourceId, localization), timestamp, listener);
		dtp.setWidthFull();
		return dtp;
	}

}