package ${PackageName};

import lombok.Generated;

#if (!$CommentsOff )
/**
 * A factory for text fields.
 *
 * ${Generated}
 */
#end
@Generated
public class ${ClassName} {

	public static TextField createTextField(String label) {
		return new TextField(label);
	}

}