package ${PackageName};

import com.vaadin.flow.component.AttachEvent;
#if ($GUIReferences && $GUIReferences.size() > 0)
import com.vaadin.flow.component.combobox.ComboBox;
#end
#if (${GUIColumnDataCollection.hasFieldType("BOOLEAN")} == true)
import com.vaadin.flow.component.checkbox.Checkbox;
#end
#if (${GUIColumnDataCollection.hasFieldType("ENUM")} == true)
import com.vaadin.flow.component.combobox.ComboBox;
#end
#if (${GUIColumnDataCollection.hasFieldType("INTEGER")} == true)
import com.vaadin.flow.component.textfield.IntegerField;
#end
#if (${GUIColumnDataCollection.hasFieldType("TEXT")} == true)
import com.vaadin.flow.component.textfield.TextArea;
#end
#if (${GUIColumnDataCollection.hasFieldType("STRING")} == true)
import com.vaadin.flow.component.textfield.TextField;
#end

#foreach ($ImportDeclaration in $ImportDeclarations.toList())
import ${ImportDeclaration.getSingleImportDeclaration()};
#end
import lombok.Generated;
import lombok.RequiredArgsConstructor;

/**
 * ${Generated}
 */
@Generated
@RequiredArgsConstructor
public class ${ClassName} extends ${AbstractMasterDataBaseLayoutClassName} {

	private final ${ButtonFactoryClassName} buttonFactory;
	private final ${ModelClassName} model;
	private final ${ServiceInterfaceName} service;
#foreach ($FieldDeclaration in $FieldDeclarations.toList())
	private final ${FieldDeclaration.getTypeName()} ${FieldDeclaration.getAttributeName()};
#end
	private final ${ResourceManagerInterfaceName} resourceManager;
	private final ${SessionDataClassName} session;
	private final Observer observer;

#foreach ($Reference in $GUIReferences)
	private ComboBox<${Reference.getReferencedModelClassName()}> comboBox${Reference.getFieldNameCamelCase()};
#end
#foreach ($Column in ${GUIColumnDataCollection.getColumns()})
	#if (${Column.getType()} == "BOOLEAN")
	private Checkbox checkbox${Column.getFieldNameCamelCase()};
	#elseif (${Column.getType()} == "COMBOBOX")
	#elseif (${Column.getType()} == "ENUM")
	private ComboBox<${Column.getFieldTypeName()}> comboBox${Column.getFieldNameCamelCase()};
	#elseif (${Column.getType()} == "INTEGER")
	private IntegerField integerField${Column.getFieldNameCamelCase()};
	#elseif (${Column.getType()} == "TEXT")
	private TextArea textArea${Column.getFieldNameCamelCase()};
	#else
	private TextField textField${Column.getFieldNameCamelCase()};
	#end
#end

	@Override
	public void onAttach(AttachEvent attachEvent) {
		super.onAttach(attachEvent);
		createButtons();
#foreach ($Reference in $GUIReferences)
		comboBox${Reference.getFieldNameCamelCase()} = new ComboBox<>("${Reference.getReferencedModelClassName()}", ${Reference.getServiceAttributeName()}.findAll${Reference.getFindAllMethodNameExtension()}());
		comboBox${Reference.getFieldNameCamelCase()}.setValue(model.get${Reference.getFieldNameCamelCase()}());
		comboBox${Reference.getFieldNameCamelCase()}.setItemLabelGenerator(${Reference.getReferencedModelClassName()}::get${Reference.getReferencedModelNameFieldName()});
		comboBox${Reference.getFieldNameCamelCase()}.setWidthFull();
#end
#foreach ($Column in ${GUIColumnDataCollection.getColumns()})
	#set($FieldName = "${Column.getFieldNameCamelCase()}")
	#set($ResourceId = "${Column.getFieldOwnerClassName()}DetailsLayout.field.${Column.getResourceName()}.label")
	#if (${Column.getType()} == "BOOLEAN")
		#if(${Column.isSimpleBoolean()} == "true")
			#set($GetterPrefix = "is")
		#else
			#set($GetterPrefix = "get")
		#end
		checkbox${FieldName} = createCheckbox("$ResourceId", model.${GetterPrefix}${FieldName}());
	#elseif (${Column.getType()} == "COMBOBOX")
	#elseif (${Column.getType()} == "ENUM")
		comboBox${FieldName} = createComboBox("$ResourceId", model.get${FieldName}(), ${Column.getFieldTypeName()}.values());
	#elseif (${Column.getType()} == "INTEGER")
		integerField${FieldName} = createIntegerField("$ResourceId", model.get${FieldName}(), ${Column.getMin()}, ${Column.getMax()});
	#elseif (${Column.getType()} == "TEXT")
		textArea${FieldName} = createTextArea("$ResourceId", model.get${FieldName}());
	#else
		textField${FieldName} = createTextField("$ResourceId", model.get${FieldName}());
	#end
#end
		getStyle().set("-moz-border-radius", "4px");
		getStyle().set("-webkit-border-radius", "4px");
		getStyle().set("border-radius", "4px");
		getStyle().set("border", "1px solid #A9A9A9");
		getStyle()
				.set(
						"box-shadow",
						"10px 10px 20px #e4e4e4, -10px 10px 20px #e4e4e4, -10px -10px 20px #e4e4e4, 10px -10px 20px #e4e4e4");
		setMargin(false);
		setWidthFull();
		add(
#foreach ($Column in ${GUIColumnDataCollection.getColumns()})
	#if (${Column.getType()} == "BOOLEAN")
				checkbox${Column.getFieldNameCamelCase()},
	#elseif (${Column.getType()} == "COMBOBOX")
				comboBox${Column.getFieldNameCamelCase()},
	#elseif (${Column.getType()} == "ENUM")
				comboBox${Column.getFieldNameCamelCase()},
	#elseif (${Column.getType()} == "INTEGER")
				integerField${Column.getFieldNameCamelCase()},
	#elseif (${Column.getType()} == "TEXT")
				textArea${Column.getFieldNameCamelCase()},
	#else
				textField${Column.getFieldNameCamelCase()},
	#end
#end
				getMasterDataButtonLayout(model.getId() > 0));
	}

	@Override
	protected ${ButtonFactoryClassName} getButtonFactory() {
		return buttonFactory;
	}

	@Override
	protected ${ResourceManagerInterfaceName} getResourceManager() {
		return resourceManager;
	}

	@Override
	protected ${SessionDataClassName} getSessionData() {
		return session;
	}

	@Override
	protected void remove() {
		service.delete(model);
		observer.remove();
	}

	@Override
	protected void save() {
#foreach ($Column in ${GUIColumnDataCollection.getColumns()})
	#if (${Column.getType()} == "BOOLEAN")
		model.set${Column.getFieldNameCamelCase()}(checkbox${Column.getFieldNameCamelCase()}.getValue());
	#elseif (${Column.getType()} == "COMBOBOX")
		model.set${Column.getFieldNameCamelCase()}(comboBox${Column.getFieldNameCamelCase()}.getValue());
	#elseif (${Column.getType()} == "ENUM")
		model.set${Column.getFieldNameCamelCase()}(comboBox${Column.getFieldNameCamelCase()}.getValue());
	#elseif (${Column.getType()} == "INTEGER")
		model.set${Column.getFieldNameCamelCase()}(integerField${Column.getFieldNameCamelCase()}.getValue());
	#elseif (${Column.getType()} == "TEXT")
		model.set${Column.getFieldNameCamelCase()}(textArea${Column.getFieldNameCamelCase()}.getValue());
	#else
		model.set${Column.getFieldNameCamelCase()}(textField${Column.getFieldNameCamelCase()}.getValue());
	#end
#end
		service.update(model);
		observer.save();
	}

}