package ${PackageName};

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;

import com.vaadin.flow.component.AttachEvent;
import com.vaadin.flow.component.DetachEvent;
import com.vaadin.flow.router.BeforeEnterEvent;
import com.vaadin.flow.router.BeforeEvent;
import com.vaadin.flow.router.Route;

import ${ModelPackageName}.${ModelClassName};
#foreach($Subclass in ${SubclassDataCollection.getSubclasses()}) 
import ${Subclass.getModelPackageName()}.${Subclass.getModelClassName()};
#end
import ${ServiceInterfacePackageName}.${ServiceInterfaceName};
#foreach ($Reference in $GUIReferenceDataCollection.getReferences())
import ${Reference.getServicePackageName()}.${Reference.getServiceInterfaceName()};
#end
import ${ResourceManagerPackageName}.${ResourceManagerInterfaceName};
import ${SessionDataPackageName}.${SessionDataClassName};
import ${UserAuthorizationCheckerPackageName}.${UserAuthorizationCheckerClassName};
import ${AbstractMasterDataBaseLayoutPackageName}.${AbstractMasterDataBaseLayoutClassName};
import ${ButtonFactoryPackageName}.${ButtonFactoryClassName};
import ${HeaderLayoutPackageName}.${HeaderLayoutClassName};
import ${HeaderLayoutPackageName}.${HeaderLayoutClassName}.HeaderLayoutMode;
import lombok.Generated;
import lombok.RequiredArgsConstructor;

/**
 * A dialog to edit ${ModelClassName} details.
 *
 * ${Generated}
 */
@Generated
@Route(${ClassName}.URL)
@RequiredArgsConstructor
public class ${ClassName} extends ${AbstractMasterDataBaseLayoutClassName} implements ${DetailsLayoutClassName}.Observer {

	public static final String URL = "${BaseURL}/masterdata/${PluralName}/details";

	private static final Logger logger = LogManager.getLogger(${ClassName}.class);

	@Autowired(required = false)
	private MaintenanceLayoutRenderer<${ModelClassName}> maintenanceLayoutRenderer;

	private final ${ButtonFactoryClassName} buttonFactory;
	private final ${ResourceManagerInterfaceName} resourceManager;
	private final ${MasterDataGUIConfigurationClassName} guiConfiguration;
	private final ${ServiceInterfaceName} service;
#foreach ($Reference in $GUIReferenceDataCollection.getReferences())
	private final ${Reference.getServiceInterfaceName()} ${Reference.getServiceAttributeName()};
#end
	private final ${SessionDataClassName} session;

	private ${ModelClassName} model;

	@Override
	protected ${ButtonFactoryClassName} getButtonFactory() {
		return buttonFactory;
	}

	@Override
	protected ${ResourceManagerInterfaceName} getResourceManager() {
		return resourceManager;
	}

	@Override
	protected ${SessionDataClassName} getSessionData() {
		return session;
	}

	@Override
	public void doSetParameter(BeforeEvent event) {
		long id = parametersMap.containsKey("id") && (parametersMap.get("id").size() > 0)
				? Long.parseLong(parametersMap.get("id").get(0))
				: -1;
		model = service.findById(id).orElse(createNewModel());
	}

	private ${ModelClassName} createNewModel() {
#if(${SubclassDataCollection.getSubclasses()})
		String modelClassName = parametersMap.containsKey("modelClass") && (parametersMap.get("modelClass").size() > 0)
				? parametersMap.get("modelClass").get(0)
				: "${ModelClassName}";
	#foreach($Subclass in ${SubclassDataCollection.getSubclasses()})
		if (modelClassName.equals("${Subclass.getModelClassName()}")) {
			return new ${Subclass.getModelClassName()}();
		}
	#end
#end
		return new ${ModelClassName}();
	}

	@Override
	public void doBeforeEnter(BeforeEnterEvent beforeEnterEvent) {
		${UserAuthorizationCheckerClassName}.forwardToLoginOnNoUserSetForSession(getSessionData(), beforeEnterEvent);
		getStyle().set("background-image", "url('" + guiConfiguration.getBackgroundFileName() + "')");
		setMargin(false);
		setWidthFull();
		add(
				new ${HeaderLayoutClassName}(
						buttonFactory
										.createBackButton(
												resourceManager,
												this::getUI,
												${PageLayoutClassName}.URL,
												session),
						buttonFactory.createLogoutButton(resourceManager, this::getUI, session, logger),
								resourceManager.getLocalizedString("${ClassName}.header.prefix.label", session.getLocalization()) + getHeaderSuffix(model),
								HeaderLayoutMode.PLAIN),
				getDetailsLayout(model));
	}

	private String getHeaderSuffix(${ModelClassName} model) {
		return maintenanceLayoutRenderer != null
				? maintenanceLayoutRenderer.getHeaderSuffix(model)
				: "" + model.get${HeaderAttributeName}();
	}

	private AbstractMasterDataBaseLayout getDetailsLayout(${ModelClassName} model) {
#foreach($Subclass in ${SubclassDataCollection.getSubclasses()}) 
		if (model instanceof ${Subclass.getModelClassName()}) {
			return new ${Subclass.getDetailsLayoutClassName()}(
					buttonFactory,
					(${Subclass.getModelClassName()}) model,
					service,#if($GUIReferenceDataCollection.getServiceAttributeNameList()) $GUIReferenceDataCollection.getServiceAttributeNameList(),#end
					resourceManager,
					session,
					this);
		}
#end
		return new ${DetailsLayoutClassName}(buttonFactory, model, service,#if($GUIReferenceDataCollection.getServiceAttributeNameList()) $GUIReferenceDataCollection.getServiceAttributeNameList(),#{end} resourceManager, session, this);
	}

	@Override
	protected void onAttach(AttachEvent attachEvent) {
		logger.info("onAttach");
		super.onAttach(attachEvent);
	}

	@Override
	protected void onDetach(DetachEvent detachEvent) {
		logger.info("onDetach");
		super.onDetach(detachEvent);
		getElement().removeFromTree();
	}

	@Override
	public void save() {
		getUI().ifPresent(ui -> ui.navigate(${PageLayoutClassName}.URL));
	}

	@Override
	public void remove() {
		service.delete(model);
		getUI().ifPresent(ui -> ui.navigate(${PageLayoutClassName}.URL));
	}

}