package ${PackageName};

import javax.inject.Named;

import ${ModelClassPackageName}.${ModelClassName};

import lombok.Generated;

#if (!$CommentsOff)
/**
 * An implementation of the MasterDataGridFieldRenderer interface for ${ModelDescription}s.
 *
 * ${Generated}
 */
#end
@Generated
@Named
public class ${ClassName} implements MasterDataGridFieldRenderer<${ModelClassName}> {

	@Override
	public Object getHeaderString(String fieldName, ${ModelClassName} model) {
		#foreach($Column in $ReferencedColumnData)
		if (${ModelClassName}.${Column.getFieldNameCamelCase().toUpperCase()}.equals(fieldName)) {
			return model.get${Column.getFieldNameCamelCase()}() != null ? model.get${Column.getFieldNameCamelCase()}().get${Column.getReferencedModelNameFieldName()}() : "-";
		}
		#end
		return null;
	}

	@Override
	public boolean hasRenderingFor(String fieldName) {
		#foreach($Column in $ReferencedColumnData)
		if (${ModelClassName}.${Column.getFieldNameCamelCase().toUpperCase()}.equals(fieldName)) {
			return true;
		}
		#end
		return false;
	}

}