package ${PackageName};

import lombok.Data;
import lombok.Generated;
import lombok.experimental.Accessors;

#if (!$CommentsOff )
/**
 * A page parameters to limit page access.
 *
 * ${Generated}
 */
#end
@Accessors(chain = true)
@Data
@Generated
public class ${ClassName} {

	private int pageNumber;
	private int entriesPerPage;

}