package ${PackageName};

import java.util.stream.Collectors;

import ${PageModelPackageName}.${PageModelClassName};
import ${PageGOPackageName}.${PageGOClassName};

import lombok.AllArgsConstructor;
import lombok.Generated;

#if (!$CommentsOff )
/**
 * A class to convert a service page to a GUI web layer page object.
 *
 * @param <GO>    The type of the GO's which are representing model objects in the GUI web layer.
 * @param <MODEL> The type of the service layer model class.
 *
 * ${Generated}
 */
#end
@AllArgsConstructor
@Generated
public class ${ClassName}<GO, MODEL> {

	private final ${ToGOConverterInferfaceName}<GO, MODEL> toGOConverter;

	public ${PageGOClassName}<GO> toGO(${PageModelClassName}<MODEL> page) {
		if (page == null) {
			return null;
		}
		return new ${PageGOClassName}<GO>()
				.setEntries(page.getEntries().stream().map(toGOConverter::${ToGOMethodName}).collect(Collectors.toList()))
				.setEntriesPerPage(page.getEntriesPerPage())
				.setEntriesTotal(page.getEntriesTotal());
	}

}