package ${PackageName};

import lombok.AllArgsConstructor;
import lombok.Generated;
import lombok.Getter;

/**
 * A Container for session id's.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
@AllArgsConstructor
@Generated
@Getter
public class ${ClassName} {

	private String key;

}