package ${PackageName};

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;

import com.vaadin.flow.router.BeforeEnterEvent;

import ${SessionDataPackageName}.${SessionDataClassName};
import lombok.experimental.UtilityClass;
import lombok.Generated;

#if (!$CommentsOff )
/**
 * A class for user authorization checks. Override with your method to check this context.
 *
 * ${Generated}
 */
#end
@Generated
public class ${ClassName} {

	private static final Logger logger = LogManager.getLogger(UserAuthorizationChecker.class);

	public void forwardToLoginOnNoUserSetForSession(${SessionDataClassName} sessionData, BeforeEnterEvent beforeEnterEvent) {
		if (sessionData.getUserName() == null) {
			logger.info("no authorization forwarded to login page.");
			beforeEnterEvent.forwardTo(ApplicationStartView.URL);
		}
	}

}