package ${PackageName};

import lombok.Generated;

#if (!$CommentsOff)
/**
 * An interface for the authorization user.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
 #end
@Generated
public interface ${ClassName} {

	String getGlobalId();

	String getName();

}