package ${PackageName};

import static ${UtilPackageName}.Check.ensure;

import java.time.LocalDateTime;
import java.time.format.DateTimeFormatter;

import javax.inject.Named;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;

import com.auth0.jwt.JWT;
import com.auth0.jwt.algorithms.Algorithm;
import com.auth0.jwt.interfaces.DecodedJWT;
import com.auth0.jwt.interfaces.JWTVerifier;

import ${ServiceInterfacePackageName}.${AuthorizationUserServiceInterfaceName};
import ${ServiceInterfacePackageName}.${JWTServiceInterfaceName};
import ${ExceptionPackageName}.${JWTNotValidExceptionClassName};
import lombok.Generated;
import lombok.RequiredArgsConstructor;

#if (!$CommentsOff)
/**
 * An implementation for the JWT service interface.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
#end
@Generated
@Named
@RequiredArgsConstructor
public class ${ClassName} implements ${JWTServiceInterfaceName} {

	private static final Logger LOGGER = LogManager.getLogger(${ClassName}.class);

	private final ${JWTServiceConfigurationClassName} configuration;
	private final ${AuthorizationUserServiceInterfaceName} authorizationUserService;

	@Override
	public ${AuthorizationDataClassName} getAuthorizationData(String jwt) {
		ensure(jwt != null, "jwt cannot be null.");
		verifyJWT(jwt);
		DecodedJWT decodedJWT = decodeJWT(jwt);
		ensureJWTContainsDataForAllField(decodedJWT);
		ensureEndOfValidityIsInRange(decodedJWT);
		return createAuthorizationData(decodedJWT);
	}

	private void verifyJWT(String jwt) {
		Algorithm algorithm = Algorithm.HMAC512(configuration.getSecret());
		JWTVerifier verifier = JWT.require(algorithm).build();
		verifier.verify(jwt);
	}

	private DecodedJWT decodeJWT(String jwt) {
		return JWT.decode(jwt);
	}

	private void ensureJWTContainsDataForAllField(DecodedJWT decodedJWT) {
		ensure(decodedJWT.getClaims().get(CLAIM_NAME_APPLICATION_NAME) != null, new ${JWTNotValidExceptionClassName}());
		ensure(decodedJWT.getClaims().get(CLAIM_NAME_APPLICATION_RIGHTS) != null, new ${JWTNotValidExceptionClassName}());
		ensure(decodedJWT.getClaims().get(CLAIM_NAME_LOGIN_DATE) != null, new ${JWTNotValidExceptionClassName}());
		ensure(decodedJWT.getClaims().get(CLAIM_NAME_USER_GLOBAL_ID) != null, new ${JWTNotValidExceptionClassName}());
		ensure(decodedJWT.getClaims().get(CLAIM_NAME_USER_NAME) != null, new ${JWTNotValidExceptionClassName}());
		ensure(decodedJWT.getClaims().get(CLAIM_NAME_USER_TOKEN) != null, new ${JWTNotValidExceptionClassName}());
	}

	private void ensureEndOfValidityIsInRange(DecodedJWT decodedJWT) {
		if (!configuration.isTestMode()) {
			LocalDateTime loginDate = getLoginDate(decodedJWT);
			ensure(
					!loginDate.minusMinutes(configuration.getBaseValidityInMinutes()).isAfter(LocalDateTime.now()),
					new ${JWTNotValidExceptionClassName}());
		} else {
			LOGGER.info("token end of validtity ignored by test mode!");
		}
	}

	private LocalDateTime getLoginDate(DecodedJWT decodedJWT) {
		return getLocalDateTime(decodedJWT.getClaims().get(CLAIM_NAME_LOGIN_DATE).asString());
	}

	private LocalDateTime getLocalDateTime(String s) {
		DateTimeFormatter formatter = DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss");
		return LocalDateTime.parse(s, formatter);
	}

	private ${AuthorizationDataClassName} createAuthorizationData(DecodedJWT decodedJWT) {
		LocalDateTime loginDate = getLoginDate(decodedJWT);
		return new ${AuthorizationDataClassName}(
				decodedJWT.getClaims().get(CLAIM_NAME_APPLICATION_NAME).asString(),
				loginDate,
				authorizationUserService.findByGlobalIdOrCreate(decodedJWT),
				decodedJWT.getClaims().get(CLAIM_NAME_APPLICATION_RIGHTS).asArray(String.class));
	}

	@Override
	public LocalDateTime getLoginDate(String jwt) {
		return getLocalDateTime(decodeJWT(jwt).getClaims().get(CLAIM_NAME_LOGIN_DATE).asString());
	}

}