package ${PackageName};

import java.util.List;
import java.util.stream.Collectors;

import javax.inject.Named;

#if ($ImportLocalDate)
import ${ImportLocalDate};

#end
import lombok.Generated;

/**
 * A DTO converter for ${PluralName}.
 *
 * ${Generated}
 */
@Generated
@Named
public class ${ClassName} {

	public ${DTOClassName} convert(${SOClassName} so) {
		if (so == null) {
			return null;
		}
		return new ${DTOClassName}()
#foreach($Column in $ColumnData)
				.${Column.getSetterName()}(so.${Column.getGetterName()}())#if ( !$foreach.hasNext );#end
#end
	}

	public List<${DTOClassName}> convert(List<${SOClassName}> sos) {
		if (sos == null) {
			return null;
		}
		return sos.stream().map(this::convert).collect(Collectors.toList());
	}

}