package ${PackageName};

#if ($ImportLocalDate)
import ${ImportLocalDate};

#end
import lombok.Generated;

/**
 * A DTO converter for ${PluralName}.
 *
 * ${Generated}
 */
@Generated
public class ${ClassName} {

	public ${DTOClassName} convert(${SOClassName} so) {
		if (so == null) {
			return null;
		}
		return new ${DTOClassName}()
#foreach($Column in $ColumnData)
				.${Column.getSetterName()}(so.${Column.getGetterName()}())#if ( !$foreach.hasNext );#end
#end
	}

}