package ${PackageName};

import java.util.List;
import java.util.stream.Collectors;

import ${JavaxPackageName}.inject.Named;

#if ($ImportLocalDate)
import ${ImportLocalDate};

#end
import lombok.Generated;

import ${DTOClassNameQualified};
import ${ModelClassNameQualified};

#if (!$CommentsOff )
/**
 * A DTO converter for ${PluralName}.
 *
 * ${Generated}
 */
#end
@Generated
@Named
public class ${ClassName} {

	public ${DTOClassName} convert(${ModelClassName} model) {
		if (model == null) {
			return null;
		}
		return new ${DTOClassName}()
#foreach($Column in $ColumnData)
				.${Column.getSetterName()}(model.${Column.getGetterCall()})#if ( !$foreach.hasNext );#end
#end
	}

	public List<${DTOClassName}> convert(List<${ModelClassName}> models) {
		if (models == null) {
			return null;
		}
		return models.stream().map(this::convert).collect(Collectors.toList());
	}

}