package ${PackageName};

#if ($ImportLocalDate)
import ${ImportLocalDate};

#end
import lombok.Data;
import lombok.Generated;
import lombok.experimental.Accessors;

#if (!$CommentsOff )
/**
 * A DTO for ${PluralName}.
 *
 * ${Generated}
 */
#end
@Accessors(chain = true)
@Data
@Generated
public class ${ClassName} {

#foreach($Column in $ColumnData)
	private ${Column.getFieldType()} ${Column.getFieldName()};
#end

}