package ${PackageName};

import ${SOPackageName}.${SOClassName};
import ${DTOPackageName}.${DTOClassName};

import org.mapstruct.Mapper;
#if ($ConverterExtension)
import org.springframework.core.convert.converter.Converter;
#end

/**
 * A DTO mapper for ${PluralName}.
 *
 * ${Generated}
 */
@Mapper(componentModel = "spring")
public interface ${ClassName} #if ($ConverterExtension)extends Converter<${SOClassName}, ${DTOClassName}> #end{

    ${DTOClassName} toDto(${SOClassName} model);

    ${SOClassName} toModel(${DTOClassName} dto);

}