package ${PackageName};

#if ($ImportLocalDate || $ImportLocalDateTime)
#if ($ImportLocalDate)
import ${ImportLocalDate};
#end
#if ($ImportLocalDateTime)
import ${ImportLocalDateTime};
#end

#end
import javax.persistence.Column;
import javax.persistence.Entity;
#if ($Autoincrement)
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
#end
import javax.persistence.Id;
#if ($CompositeKey)
import javax.persistence.IdClass;
#end
#if ($Autoincrement and ${Autoincrement.contains("SEQUENCE")})
import javax.persistence.SequenceGenerator;
#end
import javax.persistence.Table;

#if ($POJOMode == "BUILDER")
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.NoArgsConstructor;
#end
import lombok.Data;
import lombok.Generated;
#if ($POJOMode == "CHAIN")
import lombok.experimental.Accessors;
#end

#if (!$CommentsOff )
/**
 * A DBO for ${PluralName}.
 *
 * ${Generated}
 */
#end
#if ($POJOMode == "CHAIN")
@Accessors(chain = true)
#elseif ($POJOMode == "BUILDER")
@Builder
@AllArgsConstructor
@NoArgsConstructor
#end
@Data
@Generated
@Entity(name = "${EntityName}")
#if ($CompositeKey)
@IdClass(${CompositeKeyDBOClassName}.class)
#end
@Table(name = "${TableName}")
public class ${ClassName} {

#foreach($Column in $ColumnData)
#foreach($Annotation in ${Column.getAnnotations()})
	${Annotation.toJavaCode()}
#end
	private ${Column.getFieldType()} ${Column.getFieldName()};
#end

}