package ${PackageName};

#if ($ImportLocalDate)
import ${ImportLocalDate};

#end
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;

#if ($POJOMode == "BUILDER")
import lombok.Builder;
#end
import lombok.Data;
import lombok.Generated;
#if ($POJOMode == "CHAIN")
import lombok.experimental.Accessors;
#end

/**
 * A DBO for ${PluralName}.
 *
 * ${Generated}
 */
#if ($POJOMode == "CHAIN")
@Accessors(chain = true)
#elseif ($POJOMode == "BUILDER")
@Builder
#end
@Data
@Generated
@Entity(name = "${EntityName}")
@Table(name = "${TableName}")
public class ${ClassName} {

#foreach($Column in $ColumnData)
#foreach($Annotation in ${Column.getAnnotations()})
	@${Annotation.getName()}#if (${Annotation.getParameters().isEmpty()} == false)#foreach($Parameter in $Annotation.getParameters())($Parameter.getName() = $Parameter.getValue())#end#end
#end
	private ${Column.getFieldType()} ${Column.getFieldName()};
#end

}