package ${PackageName};

import ${ModelPackageName}.${ModelClassName};
import ${DBOPackageName}.${DBOClassName};

import org.mapstruct.Mapper;
#if ($ConverterExtension)
import org.springframework.core.convert.converter.Converter;
#end

/**
 * A DBO mapper for ${PluralName}.
 *
 * ${Generated}
 */
@Mapper(componentModel = "spring")
public interface ${ClassName} #if ($ConverterExtension)extends Converter<${ModelClassName}, ${DBOClassName}> #{else}extends ToModelConverter<${ModelClassName}, ${DBOClassName}> #end{

    ${DBOClassName} ${ToDBOMethodName}(${ModelClassName} model);
#if ($ConverterExtension)

    ${ModelClassName} ${ToModelMethodName}(${DBOClassName} dbo);
#end

}