package ${PackageName};

#if (${HasNotNulls} || ${HasUniques})
import static ${UtilPackageName}.Check.ensure;

#end
import java.util.List;
import java.util.Optional;

import javax.annotation.PostConstruct;
import javax.inject.Inject;

import ${PagePackageName}.${PageClassName};
import ${PagePackageName}.${PageParametersClassName};
import ${ModelPackageName}.${ModelClassName};
#if (${HasNotNulls})
import ${ExceptionsPackageName}.NotNullConstraintViolationException;
#end
#if (${HasUniques})
import ${ExceptionsPackageName}.UniqueConstraintViolationException;
#end
import ${PersistencePortPackageName}.${PersistencePortInterfaceName};
import ${PageConverterPackageName}.${PageConverterClassName};
import ${PageParametersToPageableConverterPackageName}.${PageParametersToPageableConverterClassName};
import ${DBOConverterPackageName}.${DBOConverterClassName};
import ${DBOPackageName}.${DBOClassName};
import ${JPARepositoryPackageName}.${JPARepositoryClassName};
#if (${HasObjectReferences})
#foreach($FindBy in $FindBys)
#if (${FindBy.isObjectReference()})
import ${FindBy.getConverterPackageName()}.${FindBy.getConverterClassName()};
#end
#end
#end
import lombok.Generated;

#if (${HasObjectReferences})
#foreach($FindBy in $FindBys)
import ${FindBy.getTypePackageName()}.${FindBy.getTypeName()};
#end

#end
#if (!$CommentsOff )
/**
 * A generated JPA persistence adapter for ${PluralName}.
 *
 * ${Generated}
 */
#end
@Generated
public abstract class ${ClassName} implements ${PersistencePortInterfaceName} {

	@Inject
	protected ${DBOConverterClassName} converter;
	@Inject
	protected ${JPARepositoryClassName} repository;
#if (${HasObjectReferences})
#foreach($FindBy in $FindBys)
#if (${FindBy.isObjectReference()})
	@Inject
	protected ${FindBy.getConverterClassName()} ${FindBy.getConverterAttributeName()};
#end
#end
#end

	@Inject
	protected ${PageParametersToPageableConverterClassName} pageParametersToPageableConverter;

	protected PageConverter<${ModelClassName}, ${DBOClassName}> pageConverter;

	@PostConstruct
	public void postConstruct() {
		pageConverter = new ${PageConverterClassName}<>(converter);
	}

	@Override
	public ${ModelClassName} create(${ModelClassName} model) {
		model.set${IdFieldNameCamelCase}(${NoKeyValue});
		return converter.${ToModelMethodName}(repository.save(converter.${ToDBOMethodName}(model)));
	}

	@Override
	public List<${ModelClassName}> findAll() {
		return converter.${ToModelMethodName}(repository.findAll());
	}

	@Override
	public ${PageClassName}<${ModelClassName}> findAll(${PageParametersClassName} pageParameters) {
		return pageConverter.convert(repository.findAll(pageParametersToPageableConverter.convert(pageParameters)));
	}

	@Override
	public Optional<${ModelClassName}> findById(${IdClassName} ${IdFieldName}) {
		return repository.findById(${IdFieldName}).map(dbo -> converter.${ToModelMethodName}(dbo));
	}

	@Override
	public ${ModelClassName} update(${ModelClassName} model) {
#if (${HasNotNulls})
#foreach ($Column in $ColumnData)
#if (${Column.isSimpleType()} == false and ${Column.isNotNull()} == true and ${Column.isPkMember()} == false)
		ensure(
				model.${Column.getGetterCall()} != null,
				() -> new NotNullConstraintViolationException("${ModelClassName} field ${Column.getFieldName()} cannot be null.", "${ModelClassName}", "${Column.getFieldName()}"));
#end
#end
#end
#foreach ($Column in $ColumnData)
#if (${Column.isUnique()})
		ensure(
				findBy${Column.getColumnName()}(model.${Column.getGetterCall()})
						.filter(${TableAttributeName} -> ${TableAttributeName}.${Column.getGetterCall()}.equals(model.${Column.getGetterCall()}))
						.isEmpty(),
				() -> new UniqueConstraintViolationException("${Column.getFieldName()} is already set for another record", "${ModelClassName}", "${Column.getFieldName()}"));
#end
#end
		return converter.${ToModelMethodName}(repository.save(converter.${ToDBOMethodName}(model)));
	}

	@Override
	public void delete(${ModelClassName} model) {
		repository.deleteById(model.get${IdFieldNameCamelCase}()#if(${IdFieldIsEnum}).name()#end);
	}
#foreach($FindBy in $FindBys)

	@Override
	public #if (${FindBy.isUnique()})Optional#{else}List#{end}<${ModelClassName}> find#if (!${FindBy.isUnique()})All#{end}By${FindBy.getColumnName()}(${FindBy.getTypeName()} ${FindBy.getAttributeName()}) {
#if (${FindBy.isUnique()})
	#if (${FindBy.isObjectReference()})
		return Optional.ofNullable(converter.toModel(repository.findBy${FindBy.getColumnName()}($FindBy.getConverterAttributeName().${ToDBOMethodName}(${FindBy.getAttributeName()})).orElse(null)));
	#else
		return Optional.ofNullable(converter.toModel(repository.findBy${FindBy.getColumnName()}(${FindBy.getAttributeName()}).orElse(null)));
	#end
#else
	#if (${FindBy.isObjectReference()})
		return converter.${ToModelMethodName}(repository.findAllBy${FindBy.getColumnName()}($FindBy.getConverterAttributeName().${ToDBOMethodName}(${FindBy.getAttributeName()})));
	#else
		return converter.${ToModelMethodName}(repository.findAllBy${FindBy.getColumnName()}(${FindBy.getAttributeName()}));
	#end
#end
	}
#end

}