package ${PackageName};

#if (!$CommentsOff )
/**
 * A JPA persistence adapter for ${PluralName}.
 *
 * ${Generated}
 */
#end
@Generated
@Named
public class ${ClassName} extends ${GeneratedJPAPersistenceAdapterClassName} {
}