package ${PackageName};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

import ${DBOPackageName}.${DBOClassName};

/**
 * A JPA repository for ${PluralName}.
 *
 * GENERATED CODE !!! DO NOT CHANGE !!!
 */
@Repository
public interface ${ClassName} extends JpaRepository<${DBOClassName}, ${IdClassName}> {
}