package ${PackageName};

import ${JavaxPackageName}.inject.Named;

import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort.Direction;

import ${PageParametersModelPackageName}.${PageParametersModelClassName};

import lombok.Generated;

#if (!$CommentsOff )
/**
 * A converter to create a Pageable from a PageParameters object.
 *
 * ${Generated}
 */
#end
@Generated
@Named
public class ${ClassName} {

	public Pageable convert(${PageParametersModelClassName} pageParameters) {
		if (pageParameters == null) {
			return null;
		}
		if (pageParameters.getSort() != null) {
			return PageRequest
					.of(
							pageParameters.getPageNumber(),
							pageParameters.getEntriesPerPage(),
							getDirection(pageParameters.getSort().getDirection()),
							pageParameters.getSort().getFieldNames());
		}
		return PageRequest.of(pageParameters.getPageNumber(), pageParameters.getEntriesPerPage());
	}

	private Direction getDirection(PageParameters.Direction direction) {
		return direction == PageParameters.Direction.ASC ? Direction.ASC : Direction.DESC;
	}

}